
<br>
<div  >
<button ng-click="save_deal()">SAVE</button>
<button ng-click="refresh_res()">Load Employess and Jobs</button>
<br><br>
<label>Date</label><input  ng-model="main.date" ></input> <label>Jobs</label> <select ng-model="selectedJob" ng-options="obj as obj for obj in Jobs"></select>


<br><br><br>
<label>Employees</lable>
<table border='1'>
<tr>
        <td width='400px'>
            <table style='font-size:14px; font-weight:normal;'>
            <tbody ng-repeat="empl in Employees" ng-click="move_emp($index)" >
                <tr><td width='150px'>{{empl.emp_id}}</td><td width='200px'>{{empl.name}}</td></tr>
            </tbody>
        </table>
</td>
        <td valign='top'>
                <table style='font-size:14px; font-weight:normal;'>
                    <thead>
                        <tr>
                            <th width='100px;'>Crew Assign.</th>
                            <th width='150px;'>Name</th>
                            <th width='80px;'>Id</th>
                            <th width='80px;'>Per Diem</th>
                            <th width='100px;'>Onsite Hrs</th>
                            <th width='100px;'>Offsite Hrs</th>
                            <th width='100px;'>Total Hours</th>
                            <th width='100px;'>&nbsp;</th>
                        </tr>
                    </thead>

                <tbody >
                    <tr ng-repeat="em in Employees_added">
                        <td><select ng-model="em.crewAssignment" ng-options="obj as obj for obj in Pay_Types">-none-</select></td>
                        <td>{{em.name}}</td>
                        <td>{{em.emp_id}}</td>
                        <td><input ng-model="em.perDiem" style="width:50px;"></input></td>
                        <td><input ng-model="em.onsiteHours" style="width:50px;"></input></td>
                        <td><input ng-model="em.offsiteHours" style="width:50px;"></input></td>
                        <td>total hours</td>
                        <td ng-click="move_back($index)">Remove</td>
                    </tr>
                </tbody>
            </table>
        </td>
    </tr>

</table>


<!-- 
<div ng-repeat="vari in widget">
    <input ng-model="vari.division" >
     <h5>{{ vari.division }}</h5>
</div>       
--> 

</div>
